<h1>Desconectando usuario inactivo</h1>

<p>Mediante un un hostlistener del movimiento del mouse</p>

<!-- ?Modal logout warning -->
<div #myModal class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Inactividad</h5>
      </div>
      <div class="modal-body">
        Por metodos de seguridad la aplicacion se cerrara
        <br>
        <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10"
          aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped" style="width: {{progressValue}}%;"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="mantenerSesion()" class="btn btn-primary">Permanecer aqui</button>
      </div>
    </div>
  </div>
</div>